/.idea
/NeighborAgg
/SAGN_with_SLE
*.jpg
tensorboard_logs/MLP-Cora-GCN-mislabel=0.1-symmetric-sample=0.5-k=1-epochs=500-lr=0.001-wd=0.0005/events.out.tfevents.1643365200.b9be05a5cf23
tensorboard_logs/MLP-Cora-GCN-mislabel=0.1-symmetric-sample=0.5-k=1-epochs=500-lr=0.001-wd=0.0005/events.out.tfevents.1643365255.b9be05a5cf23
tensorboard_logs/MLP-Cora-GCN-mislabel=0.1-symmetric-sample=0.5-k=1-epochs=500-lr=0.001-wd=0.0005/events.out.tfevents.1643365355.b9be05a5cf23
tensorboard_logs/MLP-Cora-GCN-mislabel=0.1-symmetric-sample=0.5-k=1-epochs=500-lr=0.001-wd=0.0005/events.out.tfevents.1643365457.b9be05a5cf23
tensorboard_logs/MLP-Cora-GCN-mislabel=0.1-symmetric-sample=0.5-k=1-epochs=500-lr=0.001-wd=0.0005/events.out.tfevents.1643365526.b9be05a5cf23
tensorboard_logs/MLP-Cora-GCN-mislabel=0.1-symmetric-sample=0.5-k=1-epochs=500-lr=0.001-wd=0.0005/events.out.tfevents.1643365671.b9be05a5cf23
tensorboard_logs/MLP-Cora-GCN-mislabel=0.1-symmetric-sample=0.5-k=1-epochs=600-lr=0.001-wd=0.0005/events.out.tfevents.1643365742.b9be05a5cf23
tensorboard_logs/MLP-Cora-GCN-mislabel=0.1-symmetric-sample=0.5-k=1-epochs=600-lr=0.001-wd=0.0005/events.out.tfevents.1643365806.b9be05a5cf23
tensorboard_logs/MLP-Cora-GCN-mislabel=0.1-symmetric-sample=0.5-k=1-epochs=600-lr=0.001-wd=0.0005/events.out.tfevents.1643365872.b9be05a5cf23
tensorboard_logs/MLP-Cora-GCN-mislabel=0.1-symmetric-sample=0.5-k=1-epochs=600-lr=0.001-wd=0.0005/events.out.tfevents.1643365945.b9be05a5cf23
tensorboard_logs/MLP-Cora-GCN-mislabel=0.1-symmetric-sample=0.5-k=1-epochs=600-lr=0.001-wd=0.0005/events.out.tfevents.1643366251.b9be05a5cf23
tensorboard_logs/MLP-Cora-GCN-mislabel=0.1-symmetric-sample=0.5-k=1-epochs=600-lr=0.001-wd=0.0005/events.out.tfevents.1643366718.b9be05a5cf23
tensorboard_logs/MLP-Cora-GCN-mislabel=0.1-symmetric-sample=0.5-k=1-epochs=600-lr=0.001-wd=0.0005/events.out.tfevents.1643372181.b9be05a5cf23
dataset/Cora/raw/ind.cora.allx
dataset/Cora/raw/ind.cora.ally
dataset/Cora/raw/ind.cora.graph
dataset/Cora/raw/ind.cora.test.index
dataset/Cora/raw/ind.cora.tx
dataset/Cora/raw/ind.cora.ty
dataset/Cora/raw/ind.cora.x
dataset/Cora/raw/ind.cora.y
