/.idea
/NeighborAgg
/SAGN_with_SLE
*.jpgdataset/Cora/raw/ind.cora.allx
dataset/Cora/raw/ind.cora.ally
dataset/Cora/raw/ind.cora.graph
dataset/Cora/raw/ind.cora.test.index
dataset/Cora/raw/ind.cora.tx
dataset/Cora/raw/ind.cora.ty
dataset/Cora/raw/ind.cora.x
dataset/Cora/raw/ind.cora.y
tensorboard_logs/*